body {
  background-color: blanchedalmond;
}

em {
  font-size: .8em;;
}

.bottom-bar {
  margin-top: 5em;
  border: 2px solid grey;
  padding: 1em;
}

.bottom-bar p {
  display: inline;
  padding-right: 1.2em;
}

.container {
  padding-top: 2em;
  min-height: 100vh;
  background-color: ivory;
  border: 1px lightcoral solid;
}

.initially-hidden {
  display: none;
}

.match-origin {
  color: green;
  font-weight: bold;
}

.match-target {
  color: yellowgreen;
  font-weight: bold;
}

li {
  list-style: none;
}

.ft-checked:before {
  content: '✓';
}