em {
  font-size: .8em;;
}

.bottom-bar {
  position: fixed;
  top: 85vh;
  border: 2px solid grey;
  padding: 1em;
}

.bottom-bar p {
  display: inline;
  padding-right: 1.2em;
}

.container {
  margin-top: 5vh;
}

.initially-hidden {
  display: none;
}

.match-origin {
  color: green;
  font-weight: bold;
}

.match-target {
  color: yellowgreen;
  font-weight: bold;
}

li {
  list-style: none;
}

.ft-checked:before {
  content: '✓';
}