@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h4>Logged in as @User.Identity.Name</h4>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button class="btn btn-dark" type="submit">Log out</button>
  }
}
else
{    
<h4>Register or Log In</h4>
<p>@Html.ActionLink("Register", "Register")</p>
<p>@Html.ActionLink("Log in", "Login")</p>
}