<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bakery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head>
  <body>
    <div class="container">
      @RenderBody()
      <div class="bottom-bar">
        <p>@Html.ActionLink("Home", "Index", "Home")</p>
        <p>@Html.ActionLink("Account Management", "Index", "Account")</p>
        @if (User.Identity.IsAuthenticated)
        {
          <p><em>(Logged in as @User.Identity.Name.)</em></p>
        }
        else
        {
          <p><em>(Using site as a guest.)</em></p>
        }
      </div>
    </div>
  </body>
</html>